@import "./components/fonts.scss";
$mask-bg: rgba(0, 0, 0, 0.3);
$vp-font: "'Comic', 'HYTangMeiRen',sans-serif";
$vp-font-heading:"'Comic', 'HYTangMeiRen',sans-serif";
$hl-bgc: var(--vp-c-accent);
:root {
  --vp-c-border-hard: rgba(140, 229, 213, 0.6);
  --vp-c-text-mute: rgba(14, 72, 93, 0.6);

  --st-c-bg: rgba(138, 237, 255, 0.3);
  --st-c-fg: rgba(0, 0, 0, 0.8);

  --vp-c-bg: #f0f1f3;
  --vp-c-text: #2c3e50;

  --bp-w-bg-f: #f0f2f5;
  --bp-w-bg-s: #e0e4e8;

  --cp-test-btn: #e1fcfc;

  --sidebar-bg: rgba(184, 173, 212, 0.1);

  --cursor-normal: url('/assets/cursors/cursor_black.cur');
}

[data-theme='dark'] {
  --vp-c-border-hard: rgba(84, 129, 121, 0.5);
  --vp-c-text-mute: rgba(122, 183, 203, 0.9);

  --st-c-bg: rgba(138, 255, 237, 0.3);
  --st-c-fg: rgba(255, 255, 255, 0.8);

  --vp-c-bg: #1b1b1f;
  --vp-c-text: #e0e0e0;
  --vp-c-bg-elv: #1b1c24;

  --bp-w-bg-f: #1b1c24;
  --bp-w-bg-s: #0c0d13;

  --cp-test-btn: #042929;

  --sidebar-bg: rgb(27, 28, 36);

  --cursor-normal: url('/assets/cursors/cursor_white.cur');
}
