@import './animation.scss';
mark{
  border-radius: 5px;
  background-color: var(--hl-bgc);
}
a.header-anchor:before{
  content: "📌";
  top: .25em;
  left: -1.5em;
  animation: slideIn 0.114514s ease forwards;
}
.vp-sidebar-group,
.vp-sidebar-link,
.toggle-sidebar-wrapper,
.vp-sidebar-header {
  transition: all 0.3s;
}
.vp-toc-header {
  cursor: pointer;
}
#sidebar {
  background-color: var(--sidebar-bg);
}

.vp-toc-wrapper.open {
  opacity: 0;
  animation: DropIn 0.3s ease forwards;
}
